
<!doctype html>
<html lang="ch">
<head>
<meta charset="UTF-8" />
<title>freeMarker各种取值表达式， 标签或者自定义标签使用demo</title>
</head>
<body>
	<h1>取值表达式</h1>
	<div>
		<h3>输出变量名${r'${value}'}</h3>
		<div>${text}</div>
	</div>
	
	<h1>标签${r'<#标签名称>'}</h1>
	<div>
		<h3>list迭代list列表、if标签使用</h3>
		<div>
		 集合大小:${testList?size}<br/>
		<#list testList as ls> 
		序号：${ls_index+1} 值：${ls} <br/>
		判断结果：
			<#if (ls=="A")> 
				他是A
	 		<#elseif (ls=="B")>
				<#--这是注释--> 他是B 
			<#else> 他非A非B </#if>
			<br/>
		</#list>
		</div>
		
		<h3>list迭代Map集合</h3>
		<div>
		 map大小:${testMap?keys?size}<br/>
		<#list testMap?keys as key> 
		  key--->${key}<br/> 
		  value----->${testMap[key]!("null")} <br/>
		</#list> 
		 <#--  
			fremarker 不支持null, 可以用！ 来代替为空的值。  其实也可以给一个默认值  
			  value-----${weaponMap[key]?default("null")} 
			 还可以 在输出前判断是否为null 
			  <#if weaponMap[key]??></#if>都可以 
		  --> 
		</div>

		<h3>include导入文件</h3>
		<div><#include "include_test.html"/></div>

	</div>
	
</body>
</html>